.button-bar-wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.button-bar {
    display: flex;
    flex-direction: column;
    background-color: rgba(79, 248, 191, .45);
    padding-bottom: 20px;
    align-items: center;
    border: dotted 5px rgb(0, 255, 255);
    border-bottom-left-radius: 85px;
    border-top-left-radius: 85px;
    height: 100%;
  }

.button-bar > a {
    border-bottom-left-radius: 85px;
    border-top-left-radius: 85px;   
}


.button-bar > a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: space-around;
    font-weight: 700;
    font-size: 30px;
    background-color: rgba(0, 255, 255, 0.5);
}

.button-bar > a:hover {
    background-color: rgba(235, 112, 112, 0.5);
    color:brown
}

.button-bar > p {
    font-size: 1.5rem;
}

#one{
    margin-bottom: 10px;
}

#two {
    margin-top: 10px;
    margin-bottom: 10px;
}

#three {
    margin-top: 10px;
}

.choose {
    font-size: 4rem;
    color:rgb(98, 66, 25);
    padding-top: 18rem;
}

.everything {
    color:rgb(160, 66, 26); 
}

.main-picture {
    max-height: 500px;
}

main > h1 {
    font-size: 40px;
}

.spicy {
    color:rgb(160, 66, 26);
    font-weight: 700;
}
