.main-box {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    height: 950px;
    gap: 10px;
}

.recipe-box { 
    display:flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, .5);
    flex: 5;
    align-items: center;
    text-align: left;
    border-style: dotted;
    border-width: 4px;
    border-color: antiquewhite;
    height: 100%;
}

td {
    width: 250px;
    text-align: left;
    padding-bottom: 5px;
    font-size: 20px;
}

th {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.label {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}