
    label {
        color: rgb(61, 56, 53);
        font-weight: bold;
        font-size: 25px;
        width: 200px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        
      }
      label:after { content: ": " }

      
      form {
        width: 650px;
         */
        
      }
      
      input {
        margin-bottom: 20px;
        box-shadow: 3px 3px 5px rgba(16, 138, 160, 0.425);
        background-color: rgba(250, 235, 215, 0.699);
        border-color: brown;
        font-size: 14px;
        font-weight: 600;
        width: 400px;
        float: right;
        /* margin-top:40px; */
      }

      select {
        float: left;
        background-color: rgba(250, 235, 215, 0.699);
        font-size: 20px;
        width: 400px;
        box-shadow: 3px 3px 5px rgba(16, 138, 160, 0.425);
        background-color: rgba(250, 235, 215, 0.699);
        border-color: brown;
      }

      #submit {
        background-color: rgba(16, 138, 160, 0.425);
        margin: 40px;
        border-top-right-radius: 85px;
        border-bottom-left-radius: 85px;
        width: 150px;
      }

     .dish-image {
        height: 150px;
        margin-top:50px;
        
      }

      .request-box {
        display: flex;
        flex-direction: row;
        margin: 20px;
        align-items: left;
        height: 950px;
        gap: 10px;
    }

    .background-box { 
      background-color: rgba(250, 235, 215, .5);
      flex: 5;
      align-items: center;
      text-align: left;
      border-style: dotted;
      border-width: 4px;
      border-color: antiquewhite;
      height: 100%;
  }
  table {
    width: 600px;
  }

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
